<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>viewPessoaFisicaServlet</servlet-name>
    <servlet-class>view.ViewPessoaFisica</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>viewPessoaJuridicaServlet</servlet-name>
    <servlet-class>view.ViewPessoaJuridica</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>viewPessoaFisicaServlet</servlet-name>
    <url-pattern>/pessoafisica</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>viewPessoaJuridicaServlet</servlet-name>
    <url-pattern>/pessoajuridica</url-pattern>
  </servlet-mapping>
  
</web-app>
